/* Adress-section */

.adress-section__container {
  margin-bottom: 88px;
  display: flex;
  justify-content: flex-end;
}

.adress-section__container__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adress-section__container__text__heading {
  margin-bottom: 8px;
}

.adress-section__container__text__url {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: var(--color-primary-b400);
  margin-bottom: 10px;
}

.adress-section__container__text__url:hover {
  color: var(--color-primary-b700);
}

.map {
  border: 1px dotted var(--color-neutral-b700);
  border-radius: 4px;
}